@import './reset.scss';
@import './index.scss';

@font-face {
  font-family: Artifakt;
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.autodesk.com/ArtifaktElement/EOT/Artifakt%20Element%20Light.eot);
  src: url(https://fonts.autodesk.com/ArtifaktElement/EOT/Artifakt%20Element%20Light.eot#iefix)
      format('embedded-opentype'),
    url(https://fonts.autodesk.com/ArtifaktElement/WOFF2/Artifakt%20Element%20Light.woff2)
      format('woff2'),
    url(https://fonts.autodesk.com/ArtifaktElement/WOFF/Artifakt%20Element%20Light.woff)
      format('woff'),
    url(https://fonts.autodesk.com/ArtifaktElement/TTF/Artifakt%20Element%20Light.ttf)
      format('truetype');
}
@font-face {
  font-family: Artifakt;
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.autodesk.com/ArtifaktElement/EOT/Artifakt%20Element%20Regular.eot);
  src: url(https://fonts.autodesk.com/ArtifaktElement/EOT/Artifakt%20Element%20Regular.eot#iefix)
      format('embedded-opentype'),
    url(https://fonts.autodesk.com/ArtifaktElement/WOFF2/Artifakt%20Element%20Regular.woff2)
      format('woff2'),
    url(https://fonts.autodesk.com/ArtifaktElement/WOFF/Artifakt%20Element%20Regular.woff)
      format('woff'),
    url(https://fonts.autodesk.com/ArtifaktElement/TTF/Artifakt%20Element%20Regular.ttf)
      format('truetype');
}
@font-face {
  font-family: Artifakt;
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.autodesk.com/ArtifaktElement/EOT/Artifakt%20Element%20Medium.eot);
  src: url(https://fonts.autodesk.com/ArtifaktElement/EOT/Artifakt%20Element%20Medium.eot#iefix)
      format('embedded-opentype'),
    url(https://fonts.autodesk.com/ArtifaktElement/WOFF2/Artifakt%20Element%20Medium.woff2)
      format('woff2'),
    url(https://fonts.autodesk.com/ArtifaktElement/WOFF/Artifakt%20Element%20Medium.woff)
      format('woff'),
    url(https://fonts.autodesk.com/ArtifaktElement/TTF/Artifakt%20Element%20Medium.ttf)
      format('truetype');
}

html {
  font-size: 14px;
  font-family: Artifakt, sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: $color-theme-grey;
}

h1 {
  margin: 30px auto;
  font-size: 1.6rem;
  max-width: $max-width;
}

.main-container {
  header {
    padding: 40px 20px;
    background-image: url(https://developer.static.autodesk.com/forgeunified/releases/current/1.0.0.20200406043645/images/title_banner_v2.jpg);
    background-position: 100%;
    background-size: cover;
    background-repeat: no-repeat;

    .header-content {
      max-width: $max-width;
      margin: auto;
      color: $color-white;
      text-transform: uppercase;
      font-size: 1.7rem;

      @media screen and (min-width: 501px) {
        padding-left: 10px;
      }

      @media screen and (min-width: 801px) {
        padding-left: 28px;
      }
    }
  }
}
